@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');

:root {
  --color-primary: #003B59;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    background-color: #003049;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}